[submodule "bwrsandman/CMakeHelpers"]
	path = CMakeHelpers
	url = https://github.com/Innokentiy-Alaytsev/CMakeHelpers.git
	branch = master
[submodule "Crascit/DownloadProject"]
	path = DownloadProject
	url = https://github.com/Innokentiy-Alaytsev/DownloadProject.git
	branch = master
[submodule "axr/solar-cmake"]
	path = solar-cmake
	url = https://github.com/Innokentiy-Alaytsev/solar-cmake
	branch = master
